@import "./../../../sass/main";
.category {
    &:hover{
        background-color: $yellow;
        color: $navy;
    }
    flex-grow: 2;
    max-width: 150px;
    min-width: 120px;
    color: $white;
    border: 2px solid $yellow;
    margin: 1rem;
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;

}